.content h2 {
    animation: moveup 1s ease-in-out 0s 1;
}

.content p {
    animation: moveup 1.5s ease-in-out 0s 1;
}

.content a {
    animation: moveup 2s ease-in-out 0s 1;
}

.main-prt-img img {
    animation: moveup 1.8s ease-in-out 0s 1;
}

@keyframes moveup {
    0% {
        transform: translateY(100px);
    }
}